.banner {
    background-image: url("../assets/banner/b2.jpg");
    height: 30vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.banner h4 {
    color: white;
    font-size: 16px;
}

.banner h2 {
    color: white;
    font-size: 30px;
    padding: 10px 0;
}

.banner span {
    color: #ef3636;
    font-size: 40px;
}

@media (max-width: 1040px) {
    .banner{
        height: 20vh;
    }
}

@media (max-width: 477px) {
    .banner{
        height: 30vh;
    }
}