@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    max-width: 100%;
}

h1.logo {
    font-family: 'Lily Script One', cursive;
}

.header-bg {
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.nav-menu {
    display: flex;
    position: relative;

}

.nav-menu li {
    padding: 0 1rem;
    position: relative;
}

.nav-menu li a {
    font-size: 1.2rem;
    font-weight: 500;
    transition: 0.3s ease;
}

.nav-menu li a:hover,
.nav-menu li a.active {
    color: #088178;
}

.nav-menu li a.active::after,
.nav-menu li a:hover::after {
    content: '';
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.mobile {
    display: none;
}

.close {
    display: none;
}

@media (max-width: 1040px){
    .header .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        z-index: 10;
        transition: 0.5s;
    }

    .nav-menu li {
        margin-bottom: 10px;
    }

    .nav-menu .bag {
        display: none;
    }

    .mobile {
        display: flex;
        align-items: center;
    }

    .close {
        display: flex;
        align-items: center;
        font-size: 30px;
        margin-left: 20px;
        margin-bottom: 30px;
    }

    .mobile .bar {
        margin-left: 5px;
    }

    .header .nav-menu.active {
       right: 0px;
    }
}